.movie__card {
  width: 200px;
  height: 320px;
}

.movie__img {
  width: 185px;
  height: 278px;
}

.movie__imgNull {
  width: 185px;
  height: 278px;
}

.movie__details a {
  margin: auto;
  text-decoration: none;
}
